body {
  text-align: center;
  background-color: grey;
}

.icon-menu {
  background-color: yellow;
  font-size: 4em;
}

@media only screen and (min-width: 750px) {
  body {
    background-color: green;
    color: yellow;
  }
  .icon-menu {
    display: none;
  }
}


/* @media only screen and (max-width: 650px) {
  body {
    background-color: red;
    color: orange;
  }
}

@media only screen and (max-width: 550px) {
  body {
    background-color: blue;
    color: white;
  }
} */